# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Images, videos and temporary files
*.png
*.PNG
*.mov
tmp*/

pose-est/
*.mov

# Compiled Python binaries
*.so
*.pyd
*.pyo

# Jupyter/IPython and R
.ipynb_checkpoints/
*.ipynb
*.Rhistory
*.RData
